# ðŸ“˜ Mastering Pandas: 100 Coding Questions

This Jupyter Notebook contains **100 Pandas coding questions** in markdown format, followed by blank code cells where you can write your solutions.

---

### ðŸ“Œ Instructions:
- Read each question carefully.
- Write your solution in the blank code cell below each question.
- Test your code with different inputs to gain mastery.
- Feel free to modify and explore different approaches! ðŸš€

Let's get started! ðŸŽ¯

### 1. Import Pandas and create a simple DataFrame from a dictionary.

### 2. Create a Pandas Series with a list of 10 numbers.

### 3. Load a CSV file into a DataFrame and display the first 5 rows.

### 4. Display the column names and data types of a DataFrame.

### 5. Get the shape, size, and number of dimensions of a DataFrame.

### 6. Check for missing values in a DataFrame.

### 7. Convert a NumPy array into a Pandas DataFrame.

### 8. Save a DataFrame to a CSV file without the index.

### 9. Convert a dictionary into a DataFrame.

### 10. Generate a DataFrame with random numbers and set custom column names.

### 11. Select a single column from a DataFrame.

### 12. Select multiple columns from a DataFrame.

### 13. Select the first 10 rows of a DataFrame.

### 14. Select the last 5 rows of a DataFrame.

### 15. Use `.loc[]` to select a row based on an index label.

### 16. Use `.iloc[]` to select a row by position.

### 17. Use `.loc[]` to select specific columns and rows.

### 18. Select rows where a column value is greater than a given number.

### 19. Select rows where a column value is between two numbers.

### 20. Use `.query()` to filter data based on a condition.

### 21. Find the total number of missing values in a DataFrame.

### 22. Fill missing values with the column mean.

### 23. Fill missing values with forward-fill and backward-fill methods.

### 24. Drop all rows with missing values.

### 25. Drop all columns with missing values.

### 26. Replace all NaN values with a specific value.

### 27. Convert `NaN` values to 0 in a DataFrame.

### 28. Identify duplicate rows in a DataFrame.

### 29. Remove duplicate rows from a DataFrame.

### 30. Replace specific values in a column with another value.

### 31. Change the data type of a column from `object` to `int`.

### 32. Convert a column to datetime format.

### 33. Extract the year, month, and day from a datetime column.

### 34. Create a new column by performing operations on two columns.

### 35. Rename multiple columns in a DataFrame.

### 36. Convert categorical columns into numerical values.

### 37. Create a new column based on conditions using `apply()`.

### 38. Normalize all numeric columns in a DataFrame.

### 39. Binning a numerical column into categories using `pd.cut()`.

### 40. Convert a DataFrame to a NumPy array.

### 41. Group a DataFrame by a column and find the mean.

### 42. Group by multiple columns and compute the sum.

### 43. Find the maximum value of each group.

### 44. Find the total count of each group.

### 45. Get the top 3 rows from each group.

### 46. Use `agg()` to apply multiple aggregation functions.

### 47. Get unique values in a column.

### 48. Count the occurrences of each unique value in a column.

### 49. Compute the cumulative sum of a column.

### 50. Compute rolling averages with a window size of 3.

### 51. Merge two DataFrames based on a common column.

### 52. Perform an inner join on two DataFrames.

### 53. Perform a left join on two DataFrames.

### 54. Perform a right join on two DataFrames.

### 55. Perform an outer join on two DataFrames.

### 56. Concatenate two DataFrames vertically.

### 57. Concatenate two DataFrames horizontally.

### 58. Merge two DataFrames with different column names.

### 59. Join two DataFrames based on the index.

### 60. Stack and unstack a DataFrame.

### 61. Sort a DataFrame based on a single column in ascending order.

### 62. Sort a DataFrame by multiple columns.

### 63. Sort a DataFrame in descending order.

### 64. Rank values in a column.

### 65. Get the row with the highest value in a specific column.

### 66. Get the row with the lowest value in a specific column.

### 67. Shuffle the rows of a DataFrame randomly.

### 68. Reset the index of a DataFrame.

### 69. Set a column as the index of a DataFrame.

### 70. Sort index values in a DataFrame.

### 71. Plot a simple line chart from a DataFrame.

### 72. Create a bar plot for a categorical column.

### 73. Generate a histogram for a numerical column.

### 74. Create a scatter plot between two numerical columns.

### 75. Generate a box plot for a column.

### 76. Create a pie chart using Pandas.

### 77. Visualize the correlation matrix of a DataFrame.

### 78. Plot multiple line charts in a single figure.

### 79. Change the style and color of a plot.

### 80. Save a plot as an image file.

### 81. Use a MultiIndex in a DataFrame.

### 82. Work with time-series data and resample it.

### 83. Calculate the rolling mean of a column.

### 84. Perform cross-tabulation of two columns.

### 85. Create a pivot table from a DataFrame.

### 86. Apply a lambda function to a DataFrame.

### 87. Find and remove outliers using IQR method.

### 88. Detect and replace outliers using the Z-score method.

### 89. Compute weighted averages using Pandas.

### 90. Convert a DataFrame from wide to long format.

### 91. Read a large CSV file in chunks using `chunksize`.

### 92. Use `astype('category')` to optimize memory usage.

### 93. Convert a DataFrame to a dictionary.

### 94. Use `to_parquet()` for faster storage than CSV.

### 95. Use `query()` for fast filtering instead of Boolean indexing.

### 96. Use `explode()` to split lists in a column into separate rows.

### 97. Convert timestamps to Unix format for efficiency.

### 98. Parallelize Pandas operations using `modin.pandas`.

### 99. Use `memory_usage()` to check DataFrame memory consumption.

### 100. Use `df.style.format()` to display numbers with specific formatting.